@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Madimi+One&display=swap");

.container {
    width: 100vw;
    height: 100vh;
}

.buttonCont {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 150px;
    height: 80px;
}

.buttonBack {
    font-family: "Madimi One", sans-serif;
    color: #052440;
    font-size: 25px;
    text-decoration: none;
    border: 3px solid #052440;
    border-radius: 6px;
    transition: all 0.4s;
}

.buttonBack:hover {
    scale: 1.03;
    color: #f26b76;
    border: 3px solid #f26b76;
}

/* !------------------------------------------------------ */

.DetailCoint {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: start;
    height: 400px;
}

.imgCont {
    margin: 20px;
    border-radius: 10px;
    height: 300px;
    width: 460px;
    background-color: #cae8fe;
    padding: 10px;
}

.descriptCont {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: "Madimi One", sans-serif;
    font-size: 25px;
    color: #052440;
}

.name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 0px;
    margin-bottom: 0px;
}

.bar {
    margin: 0 10px 0 10px;
}

.textIconCont {
    display: flex;
    align-items: center;
    line-height: 20px;
}

.icon {
    height: 50px;
    margin-right: 15px;
}

.subTitle {
    font-family: "Madimi One", sans-serif;
    font-size: 25px;
    color: #052440;
    margin-left: 70px;
    line-height: 25px;
}

/* ! --error-- */

.error {
    font-family: "Madimi One", sans-serif;
    color: #052440;
    font-size: 30px;
    text-align: center;
}
