@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Madimi+One&display=swap");

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.containerTop {
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: #052440; */
    width: 83vw;
    margin: 1vw;
    height: 8vh;
    font-family: "Madimi One", sans-serif;
    /* border-radius: 6px; */
}

.searchCountryCont {
    display: flex;
    flex-direction: column;
}

.optionsBar {
    display: flex;
    flex-direction: column;
    font-family: "Madimi One", sans-serif;
    height: 90vh;
    margin: 20px 0 20px 10px;
    border: 3px solid #052440;
    border-radius: 10px;
}

.backLink {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #052440;
    height: 25px;
    margin: 10px;
    padding: 5px;
    border: 3px solid #052440;
    border-radius: 6px;
    transition: all 0.3s;
}

.backLink:hover {
    scale: 1.03;
    color: #f26b76;
    border: 3px solid #f26b76;
}

.title {
    font-size: 30px;
    color: #f26b76;
    text-align: center;
    height: 30px;
}

.optionCont {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #cae8fe;
    color: #052440;
    margin: 10px 10px 15px 10px;
    border-radius: 6px;
}

@media (max-width: 1350px) {
    .containerTop {
        width: 78vw;
    }
}

@media (max-width: 800px) {
    .containerTop {
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }
}
