@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Madimi+One&display=swap");

.container {
    display: flex;
    flex-direction: column;
}

.topCont {
    display: flex;
}

.linkCont {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 150px;
}

.linkBack {
    font-family: "Madimi One", sans-serif;
    color: #052440;
    font-size: 25px;
    text-decoration: none;
    border: 5px solid #052440;
    border-radius: 6px;
    transition: all 0.4s;
}

.linkBack:hover {
    scale: 1.03;
    color: #f26b76;
    border: 5px solid #f26b76;
}

.titleCont {
    text-align: center;
    width: 100%;
    margin-right: 130px;
}

.title {
    font-family: "Madimi One", sans-serif;
    color: #f26b76;
    font-size: 35px;
    text-align: center;
}

.formCont {
    display: flex;
    justify-content: center;
}

.form {
    background-color: #cae8fe;
    border-radius: 10px;
    width: 550px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.formInputs {
    display: flex;
    flex-direction: column;
}

.inputCont {
    justify-content: center;
    display: flex;
    align-items: center;
}

.label {
    font-family: "Madimi One", sans-serif;
    color: #052440;
    font-size: 25px;
    margin: 10px;
}

.input {
    font-family: "Madimi One", sans-serif;
    color: #052440;
    font-size: 25px;
    border: 3px solid #052440;
    border-radius: 5px;
    margin: 10px;
}

.seasonCont {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.select {
    font-family: "Madimi One", sans-serif;
    color: #052440;
    font-size: 25px;
    border: 3px solid #052440;
    border-radius: 5px;
    width: 280px;
}

.contryCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countrySelectCont {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border: 6px solid #052440;
    border-radius: 10px;
    width: 450px;
    height: 100px;
}

.countryCard {
    display: flex;
    align-items: center;
    font-family: "Madimi One", sans-serif;
    color: #ffffff;
    font-size: 20px;
    background-color: #052440;
    border-radius: 5px;
    margin: 10px;
    height: 30px;
    padding: 5px;
}

.countrySelectClose {
    font-family: "Madimi One", sans-serif;
    color: #d0d0d0;
    border: 0;
    border-radius: 50%;
    font-size: 15px;
    margin-left: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.countrySelectClose:hover {
    color: #f26b76;
}

.selectCountry {
    font-family: "Madimi One", sans-serif;
    color: #052440;
    font-size: 25px;
    border: 3px solid #052440;
    border-radius: 5px;
    width: 280px;
}

.inputCountry {
    display: flex;
    margin: 10px;
}

.submit {
    font-family: "Madimi One", sans-serif;
    color: #052440;
    font-size: 25px;
    background-color: #f26b76;
    border: #f26b76;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.submit:hover {
    scale: 1.05;
}

/* ! validations */

.inputError {
    font-family: "Madimi One", sans-serif;
    color: #f26b76;
    font-size: 25px;
    border: 3px solid #f26b76;
    border-radius: 5px;
    margin: 10px;
}

.selectError {
    font-family: "Madimi One", sans-serif;
    color: #f26b76;
    font-size: 25px;
    border: 3px solid #f26b76;
    border-radius: 5px;
    width: 280px;
}

.countrySelectContError {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border: 6px solid #f26b76;
    border-radius: 10px;
    width: 450px;
    height: 100px;
}

.errorText {
    color: #f26b76;
    font-family: "Madimi One", sans-serif;
    font-size: 13px;
    margin-top: 0;
    height: 10px;
}
